section#feat
  .container
    .row
    .row.features
      .col-md-4.text-center.wow.fadeInUp(data-wow-delay='100ms')
        span.typcn.typcn-contacts.x3
        h4 CRM Implementation
        p
          | SalesForce.com was my bread & butter while I worked at Tesla. The sign of a nicely working CRM is one which requires little input from you and your team. I can help you select the right CRM for your needs and budget.
      .col-md-4.text-center.wow.fadeInUp(data-wow-delay='300ms')
        span.typcn.typcn-flow-merge.x3
        h4 Automate Business Process
        p
          | I can help automate the manual workflows in your organization. From offloading customer support tasks, generating daily metrics reports, or keeping your teams on the same page I have experience automating solutions like these.
      .col-md-4.text-center.wow.fadeInUp(data-wow-delay='500ms')
        span.typcn.typcn-news.x3
        h4 Email Marketing
        p
          | Want to send targeted emails to your leads based on their website activity? I've worked with simple and complex email marketing systems like Eloqua, ExactTarget, and MailChimp. Learn from your open rates and inbox score.