#footer.row
  ul.center-align
    li.col.s6.m3: a(href="mailto:colin@gillingh.am", target="_blank") <i class="fa fa-keyboard-o"></i> email me
    li.col.s6.m3: a(href="https://twitter.com/gillinghammer/", target="_blank") <i class="fa fa-pied-piper-alt"></i> tweet me
    li.col.s6.m3: a(href="https://github.com/gillinghammer/", target="_blank") <i class="fa fa-code-fork"></i> code with me
    li.col.s6.m3: a(href="https://linkedin.com/in/colingillingham", target="_blank") <i class="fa fa-rebel"></i> network with me