.site-overlay
header#home.wow.fadeIn
  .container-fluid
    .row
      a.btn.btn-danger(href='http://blog.gillingh.am').pull-right
        i.fa.fa-i-cursor
        | Read My Blog 
        
    .jumbotron
      h1
        strong Colin Gillingham
        br
        small startup advisor
      a.btn.btn-default.btn-lg(href='#clients')
        | Learn More 
        i.fa.fa-arrow-circle-o-down