#hero.row.valign-wrapper
  .strip
  .col.s12.center-align
    .avatar
      img.circle.responsive-img(src="images/helicopter.jpg", alt="")
    h5 Colin Gillingham
    h6 <i class="fa fa-map-marker"></i> London, UK
    p.roles product management ~ web development ~ sales & marketing
    ul.experience Experience
      li <a href="https://wirewax.com/" target="_blank"> WIREWAX</a>: Product & Engineering Manager
      li <a href="https://proleads.io/" target="_blank"> ProLeads</a>: Full-stack Web Developer [JavaScript, Rails]
      li <a href="https://tesla.com/" target="_blank"> Tesla</a>: Sales & Marketing Operations, Email Marketing Manager
    