.row
  .col-sm-3
    img.avatar.img-fluid(src="/images/sintra.jpg")
  .col-sm-9
    h1 Colin Gillingham
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row
      .col-sm-5
        p
          | Tesla 
          img(src="/images/teslaicon.png", width="35px")
          br
          | more text here, more text here, more text here, more text here
        p
          | Tesla 
          img(src="/images/teslaicon.png", width="35px")
          br
          | more text here, more text here, more text here, more text here
        p
          | Tesla 
          img(src="/images/teslaicon.png", width="35px")
          br
          | more text here, more text here, more text here, more text here
      .col-sm-7
        h4 Consulting Services
        p sales
        p marketing
        p product management

        h4 Get in touch
        p email: colin@gillingh.am