section#clients.clients.wow.fadeInUp(data-wow-delay='300ms')
  .container
    .row
      .col-md-3
        img.img-responsive.tesla(src='/images/tesla2.png')
      .col-md-3
        img.img-responsive.wirewax(src='/images/wirewax.jpg')
      .col-md-3
        img.img-responsive(src='/images/proleads.gif')
      .col-md-3
        img.img-responsive(src='/images/generalassembly.png')
      .col-md-12
        br
        a#resume.btn.btn-default.btn-lg(href="https://docs.google.com/document/d/15ZGG3uAaVv8O60cp0LJFtpToyQYCJSdka3OXl117xSY/edit?usp=sharing")
          | View Resume 
          i.fa.fa-file-text-o