/*variables*/
main-color = #1976d2
light-text = #fafafa
dark-text = #212121

/*display toggles*/
.hide
  display: none;

/*layout styling*/
body
  box-sizing: border-box
  font-color: dark-text
a
  font-weight: 500
  color: main-color
a:hover
  border-bottom: 2px solid main-color

.fa /*font-awesome icon color*/
  color: main-color

/*menu button styling*/
#menu-btn
  z-index: 5
  position: absolute
  right: 40px
  top: 40px

/*slide out menu styling*/
ul#slide-out
  background-color: main-color
  display: inline-block
  li
    max-width: 300px
    margin: 0 auto
  a
    color: light-text
    font-size: 2.5em
    font-weight: 200
    line-height: 2em
    padding-bottom: 75px


/*company template*/
#company-info
  padding-top: 60px;
  p
    margin: 0
  .description
    padding: 30px 0
    font-size: 1.25em
    max-width: 800px
    margin: 0 auto;
  

/*hero page*/
#hero
  z-index: 1
  padding: 100px 0
  .avatar
    max-width: 160px
    margin: 0 auto
    padding: 0 0 20px 0
  h5
    font-weight: 300
  h6
    font-weight: 500
    font-style: italics
  p.roles
    font-weight: 300
  ul.experience
    font-weight: 500
    li
      font-weight: 300

/*footer template*/
#footer
  background-color: main-color
  position: absolute
  bottom: -10px
  width: 100%
  height: 150px
  ul
    li
      padding: 18px 0
      display: inline
      color: light-text
      i
        font-size: 1.5em
        color: light-text
      a
        color: light-text